<a href="https://colab.research.google.com/github/NathanRagland/sales-predictions/blob/main/SalesPredictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
filename = '/content/sales_predictions.csv'
df = pd.read_csv(filename)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [40]:
df.sample(50)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
4449,FDU46,10.300,Regular,0.011149,Snack Foods,84.8540,OUT045,2002,Tier 2,Supermarket Type1,778.9860
731,FDQ51,16.000,Regular,0.017537,Meat,45.5718,OUT013,1987,Tier 3,Supermarket Type1,1039.9796
6063,FDW35,10.600,Low Fat,0.011106,Breads,42.7454,OUT049,1999,Tier 1,Supermarket Type1,419.4540
7915,FDB34,15.250,Low Fat,0.026664,Snack Foods,87.0198,OUT045,2002,Tier 2,Supermarket Type1,2442.1544
6136,FDO16,5.480,Low Fat,0.025288,Frozen Foods,83.3250,OUT010,1998,Tier 3,Grocery Store,416.1250
2825,FDL16,12.850,Low Fat,0.169139,Frozen Foods,46.4060,OUT018,2009,Tier 3,Supermarket Type2,186.4240
8497,FDT08,13.650,Low Fat,0.049209,Fruits and Vegetables,150.0050,OUT035,2004,Tier 2,Supermarket Type1,2247.0750
1864,NCP41,16.600,Low Fat,0.016277,Health and Hygiene,109.8596,OUT018,2009,Tier 3,Supermarket Type2,1617.8940
3810,NCQ30,7.725,LF,0.048661,Household,123.7414,OUT010,1998,Tier 3,Grocery Store,121.8414
573,FDC53,8.680,Low Fat,0.008872,Frozen Foods,99.7384,OUT018,2009,Tier 3,Supermarket Type2,295.6152
8219,NCK06,5.030,Low Fat,0.008664,Household,119.3756,OUT045,2002,Tier 2,Supermarket Type1,605.8780
4839,FDB36,12.858,Regular,0.048292,Baking Goods,133.1626,OUT027,1985,Tier 3,Supermarket Type3,2492.0894
1969,NCZ54,14.650,Low Fat,0.083528,Household,162.4552,OUT045,2002,Tier 2,Supermarket Type1,2274.3728
3579,NCY17,18.200,Low Fat,0.163096,Health and Hygiene,43.0086,OUT046,1997,Tier 1,Supermarket Type1,758.3462
1800,FDE04,19.750,Regular,0.030167,Frozen Foods,179.7660,OUT010,1998,Tier 3,Grocery Store,719.0640
4621,FDI34,10.650,Regular,0.085136,Snack Foods,232.3668,OUT046,1997,Tier 1,Supermarket Type1,3685.8688
7991,FDC60,5.425,Regular,0.114472,Baking Goods,88.3514,OUT046,1997,Tier 1,Supermarket Type1,2833.6448
1053,FDZ33,10.195,low fat,0.107835,Snack Foods,146.5076,OUT018,2009,Tier 3,Supermarket Type2,1330.2684
1523,FDW55,12.858,Regular,0.021864,Fruits and Vegetables,247.0092,OUT027,1985,Tier 3,Supermarket Type3,5478.2024
6148,FDO12,15.750,Low Fat,0.055016,Baking Goods,194.3452,OUT049,1999,Tier 1,Supermarket Type1,2740.4328
4465,FDP28,13.650,Regular,0.080969,Frozen Foods,259.7936,OUT018,2009,Tier 3,Supermarket Type2,2609.9360
3198,DRJ51,14.100,Low Fat,0.088172,Dairy,232.2668,OUT045,2002,Tier 2,Supermarket Type1,4146.6024
1117,FDV49,10.000,Low Fat,0.025827,Canned,263.2226,OUT046,1997,Tier 1,Supermarket Type1,3700.5164
147,NCB06,17.600,Low Fat,0.082317,Health and Hygiene,160.6920,OUT035,2004,Tier 2,Supermarket Type1,1597.9200
5446,FDZ21,17.600,Regular,0.039382,Snack Foods,98.0410,OUT018,2009,Tier 3,Supermarket Type2,675.7870
4648,FDA09,13.350,Regular,0.150211,Snack Foods,179.0660,OUT017,2007,Tier 2,Supermarket Type1,2696.4900
7436,NCN42,20.250,Low Fat,0.000000,Household,145.6418,OUT013,1987,Tier 3,Supermarket Type1,3384.2614
8458,FDX20,12.858,Low Fat,0.074518,Fruits and Vegetables,227.3720,OUT019,1985,Tier 1,Grocery Store,452.7440
2923,DRE49,20.750,Low Fat,0.021232,Soft Drinks,151.1024,OUT013,1987,Tier 3,Supermarket Type1,2428.8384
3656,FDV60,20.200,Regular,0.117339,Baking Goods,195.0110,OUT035,2004,Tier 2,Supermarket Type1,2749.7540
4281,FDK46,9.600,Low Fat,0.086146,Snack Foods,258.3620,OUT010,1998,Tier 3,Grocery Store,259.6620
2685,FDN34,15.600,Regular,0.045835,Snack Foods,168.2132,OUT049,1999,Tier 1,Supermarket Type1,2367.5848
3207,FDP46,15.350,Low Fat,0.074554,Snack Foods,91.8830,OUT013,1987,Tier 3,Supermarket Type1,2606.6070
8031,NCN43,12.858,Low Fat,0.011835,Others,121.3730,OUT019,1985,Tier 1,Grocery Store,246.3460
7594,FDK15,10.800,Low Fat,0.164725,Meat,98.4042,OUT010,1998,Tier 3,Grocery Store,99.2042
5742,NCQ50,18.750,Low Fat,0.000000,Household,213.3218,OUT035,2004,Tier 2,Supermarket Type1,3419.5488
524,NCN18,8.895,LF,0.124968,Household,112.7544,OUT045,2002,Tier 2,Supermarket Type1,3467.4864
8450,FDC28,7.905,Low Fat,0.054987,Frozen Foods,108.6254,OUT046,1997,Tier 1,Supermarket Type1,1844.9318
2467,FDM36,11.650,Regular,0.058682,Baking Goods,170.4422,OUT013,1987,Tier 3,Supermarket Type1,517.3266
1436,FDP23,12.858,Low Fat,0.035415,Breads,218.2166,OUT027,1985,Tier 3,Supermarket Type3,3701.1822
8299,FDV09,12.100,Low Fat,0.020601,Snack Foods,147.5734,OUT049,1999,Tier 1,Supermarket Type1,3414.8882
2884,FDA28,12.858,Regular,0.047570,Frozen Foods,125.7362,OUT027,1985,Tier 3,Supermarket Type3,3020.0688
285,FDT39,6.260,Regular,0.009866,Meat,151.1366,OUT035,2004,Tier 2,Supermarket Type1,2267.0490
4703,NCH07,13.150,Low Fat,0.092590,Household,159.5604,OUT013,1987,Tier 3,Supermarket Type1,1901.5248
1185,DRH37,12.858,Low Fat,0.072865,Soft Drinks,165.2526,OUT019,1985,Tier 1,Grocery Store,822.2630
6246,FDE59,12.150,Low Fat,0.062385,Starchy Foods,34.6532,OUT049,1999,Tier 1,Supermarket Type1,719.0640
2047,NCD42,16.500,Low Fat,0.012663,Health and Hygiene,39.3506,OUT045,2002,Tier 2,Supermarket Type1,645.1602
176,FDB35,12.300,Regular,0.064750,Starchy Foods,92.6804,OUT045,2002,Tier 2,Supermarket Type1,1010.6844
2477,FDO39,6.985,Regular,0.137580,Meat,182.8608,OUT049,1999,Tier 1,Supermarket Type1,4042.7376
6029,FDM24,6.135,Regular,0.079312,Baking Goods,151.7366,OUT035,2004,Tier 2,Supermarket Type1,3325.0052

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [33]:
df.shape

(8523, 11)

In [23]:
df.duplicated().sum()

0

In [24]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [25]:
df['Item_Weight'].mean()

12.857645184135976

In [27]:
# Filling missing Item Weight values with the average weight of the values we know, rounded to the thousandths point.
# I don't see any pattern to the weight, and I don't want missing values.
df['Item_Weight'].fillna(12.858, inplace=True)
df.head(30)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,12.858,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
13,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260
15,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888
17,FDP49,9.000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,718.3982
18,DRI11,12.858,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
20,FDN22,18.850,Regular,0.138190,Snack Foods,250.8724,OUT013,1987,High,Tier 3,Supermarket Type1,3775.0860
21,FDW12,12.858,Regular,0.035400,Baking Goods,144.5444,OUT027,1985,Medium,Tier 3,Supermarket Type3,4064.0432
22,NCB30,14.600,Low Fat,0.025698,Household,196.5084,OUT035,2004,Small,Tier 2,Supermarket Type1,1587.2672
23,FDC37,12.858,Low Fat,0.057557,Baking Goods,107.6938,OUT019,1985,Small,Tier 1,Grocery Store,214.3876
24,FDR28,13.850,Regular,0.025896,Frozen Foods,165.0210,OUT046,1997,Small,Tier 1,Supermarket Type1,4078.0250
25,NCD06,13.000,Low Fat,0.099887,Household,45.9060,OUT017,2007,NaN,Tier 2,Supermarket Type1,838.9080
26,FDV10,7.645,Regular,0.066693,Snack Foods,42.3112,OUT035,2004,Small,Tier 2,Supermarket Type1,1065.2800
27,DRJ59,11.650,low fat,0.019356,Hard Drinks,39.1164,OUT013,1987,High,Tier 3,Supermarket Type1,308.9312
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
29,FDC14,12.858,Regular,0.072222,Canned,43.6454,OUT019,1985,Small,Tier 1,Grocery Store,125.8362

In [28]:
# Since there are only 3 options for Outlet Size, I don't want to find the most common.
# Outlet Size has no pattern and doesn't seem relevant, so I'm dropping that column.
df.drop(columns= 'Outlet_Size', inplace=True)
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [42]:
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [49]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF', 'Low Fat')
df['Item_Fat_Content'].value_counts()

Low Fat    5405
Regular    2889
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [51]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('low fat', 'Low Fat')
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    2889
reg         117
Name: Item_Fat_Content, dtype: int64

In [52]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [53]:
df['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [54]:
df['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Location_Type       8523 non-null   object
 9   Outlet_Type                8523 non-null   object
 10  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 732.6+ KB

In [58]:
df['Item_Weight'].min()

4.555

In [59]:
df['Item_Weight'].max()

21.35

In [60]:
df['Item_Weight'].mean()

12.85770608940514

In [62]:
df['Item_Visibility'].min()

0.0

In [63]:
df['Item_Visibility'].max()

0.328390948

In [64]:
df['Item_Visibility'].mean()

0.06613202877895108

In [65]:
df['Item_MRP'].min()

31.29

In [66]:
df['Item_MRP'].max()

266.8884

In [67]:
df['Item_MRP'].mean()

140.9927819781767

In [68]:
df['Outlet_Establishment_Year'].min()

1985

In [69]:
df['Outlet_Establishment_Year'].max()

2009

In [74]:
df['Outlet_Establishment_Year'].mean().round(0)

1998.0

In [75]:
df['Item_Outlet_Sales'].min()

33.29

In [76]:
df['Item_Outlet_Sales'].max()

13086.9648

In [77]:
df['Item_Outlet_Sales'].mean()

2181.288913575032